.recent-event-wrapper ul {
    list-style: none;
    margin:0;
    padding: 0;
}
 
.term-filter,.tag-filter {
    margin-bottom: 24px !important;
}
 
.term-filter a,.tag-filter a {
    display: inline-block;
    margin-right: 4px !important;
    padding: 4px 12px;
    margin: 0;
    line-height: 1em;
    background-color: #f5f5f5;
    font-size: 0.7em;
    text-align: center;
    border:none !important;
}
 
.term-filter a:last-child,.tag-filter a:last-child {
    margin-right: 0 !important;
}
 
.term-filter a.active,.tag-filter a.active,
.term-filter a:hover,.tag-filter a:hover {
    background-color: #212121;
    color: #ffffff !important;
    opacity:1 !important;
    outline: none;
}
 
.recent-event {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
    justify-items: stretch;
    opacity: 1;
    transition: opacity 100ms 200ms ease-out;
    margin-top: 22px;
}
 
.recent-event.list {
    grid-template-columns: repeat(1, 1fr);
}
 
.recent-event.loading {
    opacity: 0;
    transition: opacity 100ms ease-out;
}
 
.recent-event.list li {
    display: table;
    width: 100%;
}
 
.recent-event.list li > * {
    display: table-cell;
    vertical-align: middle;
}
 
.recent-event.list li > .event-content {
    width: 50%;
    padding-left: 24px;
}
 
.recent-event li {
    padding: 24px;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 1px #e0e0e0;
    list-style: none;
}
 
.event-category a {
    font-size: 0.7em;
    line-height: 1em;
}
 
.event-title {
    margin: 4px 0 16px 0 !important;
}
 
.event-title a {border:none !important;}
 
.event-tag a {
    display: inline-block;
    vertical-align: baseline;
    padding: 4px 12px;
    margin: 0;
    line-height: 1em;
    background-color: #f5f5f5;
    font-size: 0.7em;
    text-align: center;
    border:none !important;
}
.recent-event-wrapper .term-filter,.recent-event-wrapper .tag-filter {
    margin: auto;
    text-align: center;
}